.env

*.pem
venv/

.env*/          # .env.bak 같은 것도 무시

*.pyc

__pycache__/

*.log


staticfiles/

media/
.DS_Store

.vscode/

.idea/
*.sqlite3

*.bak

*.csv

yachtgame_turn_logs_*.csv

yachtgame_event_logs_*.csv

yachtgame_backup_*.json
*.swp

